@model PNT1.ViewModels.CarritoViewModel

<h2 id="carrito-titulo">Carrito</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="tabla-titulo">Item</th>
            <th class="tabla-titulo">Precio</th>
            <th class="tabla-titulo">Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Carrito.carritoItems)
        {
            <tr>
                <td class="tabla-contenido">@item.Item.Descripcion</td>
                <td class="tabla-contenido">@item.Item.Valor.ToString("c")</td>
                <td class="text-center boton-borrar"><a class="btn btn-dark" id="button-carrito" asp-controller="Carrito" asp-action="BorrarDelCarrito" asp-route-itemId="@item.Item.Id">Borrar</a></td>
            </tr>
        }
    </tbody>
</table>
<h4 class="text-right tabla-contenido">Total: @Model.CarritoTotal.ToString("c") </h4>


<div class="text-center">
    <a class="btn btn-dark" id="button-carrito" asp-controller="Venta" asp-action="Checkout">Ir a pagar</a>
</div>
